/* GLOBAL STYLES
-------------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
a,
li,
ul,
ol,
blockquote,
pre,
code,
input,
textarea,
select,
nav,
footer,
header,
section {
  margin: 0;
  padding: 0;
}


body{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family:sans-serif;
  padding: 20px;
}

img{
  max-width: 100%;
}

.container-all{
  position: relative;
  max-width: 1000px;
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
}

.slide{
  display:flex;
  transform: translate(0,0,0);
  transition: all 600ms;
  animation-name: autoplay;
  animation-duration: 0.5s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.item-slide{
  
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 0;
  max-width: 100%;

}




.site-header {
  display: flex;
  background: none;
  color: white;
  align-items:flex-end;
}

.site-nav{
  text-align: center;
}

.site-nav ul {
  
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}


.site-nav a {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  padding: 20px;
  display: inline-block;
}
.site-nav .active a {
  
    font-weight: bold;
    color: #0d6efd;
    background: darken( #0d6efd, 40%);
    border: 1px solid #0d6efd;
  }
  


.bienvenido{

  padding: 4rem;

}

.contenido{
  padding: 4rem;
  margin-right: .75rem;
  margin-left: .75rem;  
}

.row{
  display: flex;
  flex-direction:row;

}

.parrafo-btn{
  
  padding: 30px;
}

.boton {

  font-weight: bold;
  text-decoration: none;
  color: #ebebeb;
  background:  #0d6efd;
  border: 1px solid #ebebeb;
  padding: 15px;

}


footer{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}



.logo-footer{
  display:flex;
  align-items:center;
  justify-content:center;
  text-decoration:none;
}

 .site-footer{
  text-align: center;
}


.site-footer ul {
  
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}


.site-fotter a {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  padding: 20px;
  display: inline-block;
}

.site-footer .active a {
  
  font-weight: bold;
  color: #0d6efd;
  background: darken( #0d6efd, 40%);
  border: 1px solid #0d6efd;
  }

  @media (max-width: 600px) {
    .site-header {
        display: flex;
        flex-wrap: wrap;
    }
    .site-nav {
      order: 2;
      background: #ffff;
      width: 100%;
    }
    .site-footer{
      order: 2;
      background: #ffff;
      width: 100%;
    }
  }
  